{% extends "base.html.twig" %}

{% block title %}
    Projects
{% endblock %}

{% block body %}
    <div class="container border">
        <h1>bienvenu sur la page Projects</h1>
    </div>
{% endblock %}
