{% extends 'base.html.twig' %}

{% block title %}New HeureProjet{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new HeureProjet</h1>

        {{ include('heure_projet/_form.html.twig') }}

        <a href="{{ path('heure_projet_index') }}">back to list</a>

    </div>
{% endblock %}
