{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h2>{{ ipdmobject.Name }}</h2>

    <table class="table table-hover">
        {% for Element in ipdmobject.Elements %}
            <tr>
                <th>{{ Element.FriendlyName }}</th>
                <td></td>
            </tr>
        {% else %}
        {% endfor %}
    </table>
</div>
{% endblock %}

