{% extends 'base.html.twig' %}

{% block title %}Edit TypeProjet{% endblock %}

{% block body %}
    <div class="container"><h1>Edit TypeProjet</h1>

        {{ include('type_projet/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('type_projet_index') }}" class="btn btn-secondary">back to list</a>

        {{ include('type_projet/_delete_form.html.twig') }}
    </div>

{% endblock %}
