<div class="card" style="width: 10rem;">
    <div class="card-body">
        <p>{{ record.id }}</p>
        <a class="btn btn-primary" href="{{ path('heure_projet_show',{'id': record.id}) }}') }}">Voir</a>
    </div>
</div>